<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schedulous"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.schedulous.SchedulousApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.schedulous.utility.server.HttpService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.schedulous.utility.server.XMPPService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="6a19632f8b533b3cf4317cd8a7c41b6862c6252d" />

        <activity
            android:name="com.schedulous.onboarding.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.schedulous.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.schedulous.group.CreateGroupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.schedulous.group.GroupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.schedulous.event.CreateEventActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Junit android test"
        android:targetPackage="com.schedulous" />

</manifest>